In [1]:
import pandas as pd
import numpy as np

In [2]:

df=pd.read_csv('Chicago_Crime_Detective.csv')

c:\users\suru rathod\appdata\local\programs\python\python37-32\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
print(df)

        Unnamed: 0       ID            Date            LocationDescription  \
0                0  8951354  12/31/12 23:15                         STREET
1                1  8951141  12/31/12 22:00                         STREET
2                2  8952745  12/31/12 22:00  RESIDENTIAL YARD (FRONT/BACK)
3                3  8952223  12/31/12 22:00                         STREET
4                4  8951608  12/31/12 21:30                         STREET
...            ...      ...             ...                            ...
191636      191636  1310068     1/1/01 0:05                         STREET
191637      191637  1313404     1/1/01 0:01                         STREET
191638      191638  1313442     1/1/01 0:01                         STREET
191639      191639  1563324     1/1/01 0:01                         STREET
191640      191640  1310463     1/1/01 0:01                         STREET

        Arrest  Domestic  Beat District CommunityArea  Year
0        False     False   623        6            69  2012
1        False     False  1213       12            24  2012
2        False     False  1622       16            11  2012
3        False     False   724        7            67  2012
4        False     False   211        2            35  2012
...        ...       ...   ...      ...           ...   ...
191636   False     False  1123      NaN           NaN  2001
191637   False     False  2023      NaN           NaN  2001
191638   False     False   911      NaN           NaN  2001
191639   False     False  1712      NaN           NaN  2001
191640   False     False  1911      NaN           NaN  2001

[191641 rows x 10 columns]

In [4]:
df.head()

,Unnamed: 0,ID,Date,LocationDescription,Arrest,Domestic,Beat,District,CommunityArea,Year
0,0,8951354,12/31/12 23:15,STREET,False,False,623,6,69,2012
1,1,8951141,12/31/12 22:00,STREET,False,False,1213,12,24,2012
2,2,8952745,12/31/12 22:00,RESIDENTIAL YARD (FRONT/BACK),False,False,1622,16,11,2012
3,3,8952223,12/31/12 22:00,STREET,False,False,724,7,67,2012
4,4,8951608,12/31/12 21:30,STREET,False,False,211,2,35,2012

In [5]:
df.dtypes

Unnamed: 0              int64
ID                      int64
Date                   object
LocationDescription    object
Arrest                   bool
Domestic                 bool
Beat                    int64
District               object
CommunityArea          object
Year                    int64
dtype: object

In [6]:
df.shape

(191641, 10)

In [7]:
df['Date']=pd.to_datetime(df.Date)

In [8]:
df.dtypes

Unnamed: 0                      int64
ID                              int64
Date                   datetime64[ns]
LocationDescription            object
Arrest                           bool
Domestic                         bool
Beat                            int64
District                       object
CommunityArea                  object
Year                            int64
dtype: object

In [9]:
df['Year'].sort_values().median()

2006.0

In [10]:
df['month']=df.Date.dt.month

In [11]:
df['month'].sort_values().median()

7.0

In [12]:
df['month'].nunique()

12

In [13]:
df["month"].sort_values().value_counts()

10    17086
7     16801
8     16572
12    16426
11    16063
9     16060
1     16047
5     16035
6     16002
3     15758
4     15280
2     13511
Name: month, dtype: int64

In [14]:
df.Date.dt.weekday.value_counts().sort_values(ascending=False)

4    29284
2    27416
0    27397
3    27319
5    27118
1    26791
6    26316
Name: Date, dtype: int64

In [15]:
df[df.Arrest==True]

,Unnamed: 0,ID,Date,LocationDescription,Arrest,Domestic,Beat,District,CommunityArea,Year,month
5,5,8950793,2012-12-31 20:30:00,STREET,True,False,2521,25,19,2012,12
8,8,8951802,2012-12-31 19:00:00,STREET,True,False,1021,10,29,2012,12
13,13,8950570,2012-12-31 16:20:00,GAS STATION,True,False,825,8,66,2012,12
47,47,8949895,2012-12-30 19:46:00,ALLEY,True,False,2512,25,18,2012,12
59,59,8949557,2012-12-30 15:00:00,STREET,True,False,2535,25,23,2012,12
...,...,...,...,...,...,...,...,...,...,...,...
191600,191600,1311345,2001-01-01 18:30:00,STREET,True,False,323,NaN,NaN,2001,1
191601,191601,1311051,2001-01-01 18:00:00,STREET,True,False,132,NaN,NaN,2001,1
191607,191607,1312461,2001-01-01 16:00:00,STREET,True,False,1413,NaN,NaN,2001,1
191628,191628,1310725,2001-01-01 03:00:00,STREET,True,False,822,NaN,NaN,2001,1
191630,191630,1310022,2001-01-01 01:50:00,STREET,True,False,2233,NaN,NaN,2001,1

In [16]:
df[df.Arrest==True].month.count()

15536

In [17]:
df[df.Arrest==True].month.value_counts().sort_values(ascending=False)

1     1435
12    1397
10    1342
8     1329
7     1324
3     1298
11    1256
4     1252
9     1248
2     1238
6     1230
5     1187
Name: month, dtype: int64

In [18]:
df['Year'].value_counts(ascending=False)

2001    20669
2002    18753
2004    16862
2003    16657
2005    16484
2006    16098
2011    15637
2010    15497
2008    14445
2007    14280
2012    14092
2009    12167
Name: Year, dtype: int64

In [19]:
df[df.Arrest==True].count()

Unnamed: 0             15536
ID                     15536
Date                   15536
LocationDescription    15536
Arrest                 15536
Domestic               15536
Beat                   15536
District               10886
CommunityArea          12810
Year                   15536
month                  15536
dtype: int64

In [20]:
df[df.Arrest==True].Year.value_counts()

2001    2152
2002    2115
2003    1798
2004    1693
2005    1528
2006    1302
2007    1212
2008    1020
2009     840
2010     701
2011     625
2012     550
Name: Year, dtype: int64

In [21]:
df['LocationDescription'].value_counts(ascending=False).head(10)

STREET                            156564
PARKING LOT/GARAGE(NON.RESID.)     14852
OTHER                               4573
ALLEY                               2308
GAS STATION                         2111
DRIVEWAY - RESIDENTIAL              1675
RESIDENTIAL YARD (FRONT/BACK)       1536
RESIDENCE                           1302
RESIDENCE-GARAGE                    1176
VACANT LOT/LAND                      985
Name: LocationDescription, dtype: int64

In [22]:
df['LocationDescription'].nunique()

78

In [23]:
156564+14852+2308+ 2111+1675

177510

In [24]:
( 20669/2152)/100

0.09604553903345725

In [25]:
1212/14280

0.08487394957983194

In [26]:
k=df[df.LocationDescription=='GAS STATION']

In [27]:
k.head()

,Unnamed: 0,ID,Date,LocationDescription,Arrest,Domestic,Beat,District,CommunityArea,Year,month
13,13,8950570,2012-12-31 16:20:00,GAS STATION,True,False,825,8,66,2012,12
106,106,8948353,2012-12-29 10:00:00,GAS STATION,False,False,823,8,66,2012,12
213,213,8945802,2012-12-27 10:00:00,GAS STATION,False,False,321,3,42,2012,12
278,278,8943877,2012-12-25 10:00:00,GAS STATION,False,False,332,3,43,2012,12
290,290,8943595,2012-12-24 21:55:00,GAS STATION,False,False,421,4,43,2012,12

In [28]:
k.shape

(2111, 11)

In [29]:
k.Date.dt.weekday.value_counts().sort_values()

1    270
2    273
0    280
3    282
4    332
6    336
5    338
Name: Date, dtype: int64